<section class="section">
    <div class="gallery" id="gallery">
      <div class="gallery__slide" style="background-image:url(&quot;/img/gallery.jpg&quot;);">
        <div class="gallery__content">
          <div class="content_small">
            <div class="main-title main-title_centered main-title_small"><span class="main-title__summary">Bromo</span>
              <h2 class="main-title__text">Steady your steps, we&nbsp;will climb together!</h2>
            </div>
            <p>Enjoying the vast expanse of&nbsp;
                the sea of sand, witnessing the splendor of&nbsp;
                Mount Semeru that soars into the sky, and gazing at&nbsp;
                the beauty of&nbsp;the sun moving out of&nbsp;
                its bed or&nbsp;otherwise enjoying the dim twilight from the Bromo ridge is&nbsp;
                an&nbsp;unforgettable experience when visiting Bromo.</p>
                <a class="arrow-link arrow-link_centered" href="/index2Page.html">read more
              <div class="arrow-link__icon icon__arrow_rightward"></div></a>
          </div>
        </div>
      </div>
      <div class="gallery__slide" style="background-image:url(&quot;/img/gallery.jpg&quot;);">
        <div class="gallery__content">
          <div class="content_small">
            <div class="main-title main-title_centered main-title_small"><span class="main-title__summary">Bromo</span>
              <h2 class="main-title__text">Steady your steps, we&nbsp;will climb together!</h2>
            </div>
            <p>Enjoying the vast expanse of&nbsp;
              the sea of sand, witnessing the splendor of&nbsp;
              Mount Semeru that soars into the sky, and gazing at&nbsp;
              the beauty of&nbsp;the sun moving out of&nbsp;
              its bed or&nbsp;otherwise enjoying the dim twilight from the Bromo ridge is&nbsp;
              an&nbsp;unforgettable experience when visiting Bromo.</p>
              <a class="arrow-link arrow-link_centered" href="/index2Page.html">read more
              <div class="arrow-link__icon icon__arrow_rightward"></div></a>
          </div>
        </div>
      </div>
      <div class="gallery__slide" style="background-image:url(&quot;/img/gallery.jpg&quot;);">
        <div class="gallery__content">
          <div class="content_small">
            <div class="main-title main-title_centered main-title_small"><span class="main-title__summary">Bromo</span>
              <h2 class="main-title__text">Steady your steps, we&nbsp;will climb together!</h2>
            </div>
            <p>Enjoying the vast expanse of&nbsp;
              the sea of sand, witnessing the splendor of&nbsp;
              Mount Semeru that soars into the sky, and gazing at&nbsp;
              the beauty of&nbsp;the sun moving out of&nbsp;
              its bed or&nbsp;otherwise enjoying the dim twilight from the Bromo ridge is&nbsp;
              an&nbsp;unforgettable experience when visiting Bromo.</p>
              <a class="arrow-link arrow-link_centered" href="/index2Page.html">read more
              <div class="arrow-link__icon icon__arrow_rightward"></div></a>
          </div>
        </div>
      </div>
      <div class="gallery__slide" style="background-image:url(&quot;/img/gallery.jpg&quot;);">
        <div class="gallery__content">
          <div class="content_small">
            <div class="main-title main-title_centered main-title_small"><span class="main-title__summary">Bromo</span>
              <h2 class="main-title__text">Steady your steps, we&nbsp;will climb together!</h2>
            </div>
            <p>Enjoying the vast expanse of&nbsp;
              the sea of sand, witnessing the splendor of&nbsp;
              Mount Semeru that soars into the sky, and gazing at&nbsp;
              the beauty of&nbsp;the sun moving out of&nbsp;
              its bed or&nbsp;otherwise enjoying the dim twilight from the Bromo ridge is&nbsp;
              an&nbsp;unforgettable experience when visiting Bromo.</p>
              <a class="arrow-link arrow-link_centered" href="/index2Page.html">read more
              <div class="arrow-link__icon icon__arrow_rightward"></div></a>
          </div>
        </div>
      </div>
      <div class="gallery__slide" style="background-image:url(&quot;/img/gallery.jpg&quot;);">
        <div class="gallery__content">
          <div class="content_small">
            <div class="main-title main-title_centered main-title_small"><span class="main-title__summary">Bromo</span>
              <h2 class="main-title__text">Steady your steps, we&nbsp;will climb together!</h2>
            </div>
            <p>Enjoying the vast expanse of&nbsp;
              the sea of sand, witnessing the splendor of&nbsp;
              Mount Semeru that soars into the sky, and gazing at&nbsp;
              the beauty of&nbsp;the sun moving out of&nbsp;
              its bed or&nbsp;otherwise enjoying the dim twilight from the Bromo ridge is&nbsp;
              an&nbsp;unforgettable experience when visiting Bromo.</p>
              <a class="arrow-link arrow-link_centered" href="/index2Page.html">read more
              <div class="arrow-link__icon icon__arrow_rightward"></div></a>
          </div>
        </div>
      </div>
    </div>
</section>