@import "./variables.scss";
@import "./variables-css.scss";
@import "./partials/mainicons/icons.scss";

.main-title_centered {
    text-align: center;

    .main-title__summary {
        justify-content: center;

        &::after {
            content: '';
            display: block;
            width: 4em;
            height: 2px;
            margin-left: calc(1.5em - 0.36em);
            background: $highlite;
        }
    }
}
.gallery {
        position: relative;
        overflow: hidden;
        padding: 0;
    &__slide {
        width: 100%;
        padding-bottom: 67%;
        pointer-events: none;
        background-size: cover;
    }

    &__content {
        position: absolute;
        bottom: -1.5rem;
        left: 0;
        right: 0;
        text-align: center;
        background: linear-gradient(to top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); 
    }
}

.gallery-line-container {
    overflow: hidden;
}

.gallery-draggable {
    cursor: grabbing;
}

.gallery-line {
    overflow: hidden;
}

.gallery-slide {
    min-height: 1px;
    float: left;
    transform: translateZ(0);
    overflow: hidden;
}



.gallery-nav {
    display: flex;
    justify-content: center;
    padding: 0;
    z-index: 4;
    position: absolute;
}

.gallery-nav-left,
.gallery-nav-right {
    width: 2rem;
    height: 3rem;
    border: none;
    outline: none;
    text-indent: -1234em;
    top: 50%;
    margin-top: -3rem;
    cursor: pointer;
    transition: all 0.3s;
}

.gallery-nav-disabled {
    opacity: 0.2;
    pointer-events: none;
}

.gallery-nav-left {
    background: url('./img/icons/left.svg') no-repeat center;
    background-size: contain;
    left: 2rem;
    right: 68rem;
    top: -25rem;
    position: absolute;
}

.gallery-nav-right {
    position: absolute;
    left: 68rem;
    top: -25rem;
    right: 2rem;
    background: url('./img/icons/right.svg') no-repeat center;
    background-size: contain;
}

@media screen and (max-width: 700px) {
.gallery {
    padding: 0;
}

.gallery-nav {
    display: none;
}
}