@import "../../color";
.header {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
   
    &.primary {
    color: var(--highlight-color-a);
    font-size: var(--large-a);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    &::after {
    border-color: var(--color-a);
    }
    }

    &::after {
    content: "";
    border-bottom: 2px solid black;
    display: block;
    flex: 1 0 auto;
    margin-left: 10px;
    
    }
}
.secondary {
    color: var(--highlight-color-b);
    font-size: var(--large-a);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    &::after {
    border-color: var(--color-b);
    }
    
    &::after {
    content: "";
    border-bottom: 2px solid black;
    display: block;
    flex: 1 0 auto;
    margin-left: 10px;
}
}
.tertiary {
color: #6a0099;
font-size: var(--large-a);
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;    
&::after {
    border-color: var(--color-b);
    }    
    &::after {
    content: "";
    border-bottom: 2px solid black;
    flex: 1 0 auto;
    margin-left: 10px;       
    }
&::before {
    border-color: var(--color-b);    
}
    &::before {
    content: "";
    border-bottom: 2px solid black;
    flex: 1 0 auto;
    margin-right: 10px;     
}
}
