<div class = "container-md">
    <div class="row">
       <div class="col-md">
       </div>
       <div class="col-md-6">
       <div class="menu">
        <h2>GAME NAME</h2>
        <button>Play</button>
        
        <button class="accordion">Section 1</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
        
        <button class="accordion">Section 2</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
        
       





       </div>
    </div>
    <div class="col-md">
    </div>
    </div>
 </div>