<header class="header">
    <div class="header__content"><a class="logo" style="text-decoration: none;"href="/">
        <h1 class="logo__title">QWERy</h1></a>
      <nav class="main-nav header__center">
        <ul class="main-nav__list">
          <li class="main-nav__item"><a class="main-nav__link main-nav__link_active" style="text-decoration: none;" href="#">Information</a></li>
          <li class="main-nav__item"><a class="main-nav__link" style="text-decoration: none;" href="#">About&nbsp;us</a></li>
          <li class="main-nav__item"><a class="main-nav__link" style="text-decoration: none;" href="#">Culture</a></li>
        </ul>
      </nav>
      <label class="search">
        <div class="search__icon"></div>
        <input class="search__form" type="text" placeholder="Search"/>
      </label>
    </div>
  </header>
