@import "./variables.scss";
@import "./variables-css.scss";
@import "./partials/mainicons/icons.scss";

a {
	color: $highlite;
	text-decoration: none;
	transition: opacity 0.3s;
	opacity: 1;  

	&:visited {
		color: $highlite;		
	}

	&:active, &:hover {
		opacity: 0.7;
	}
}
.header {
    position: absolute;
    top: 2rem;
    width: 100%;

    &__content {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 0 $mainpadding;
    }

    &__center {
        display: flex;
        justify-content: center;
    }
}
.logo {
	color: $lite;
	text-decoration: none;
	letter-spacing: 1%;

	&:visited {
		color: $lite;
	}

	&__title {
		font-size: 1.3rem;
		font-weight: 700;
	}
	
	&:active, &:hover {
		color: $lite;
}
}
.main-nav__list {
	display: flex;
	margin: 0;
}
.main-nav__link {
	color: $lite;
	text-decoration: none;
	padding: 1.8rem 1.38rem;
	display: inline-block;

	&:visited {
		color: $lite;
	}
}
.search {
	display: flex;
	align-items: center;
	justify-content: center;
	
	
	&__icon {
		width: 1rem;
		height: 1rem;
		background: url("/img/icons/search.svg") no-repeat center center;
		background-size: content;
		cursor: pointer;
		padding-right: 0.5rem;
	}

	&__form {
		background: none;
		border: none;
		transition: width 0.3s;
		width: 3.8rem;
		font: 0.9rem/1 'Open Sans', sans-serif;
		padding: 0.2rem 0.5rem;
		border-radius: 5px;
		
		&::placeholder {
			color: $opacitycolor;
			opacity: 1;
		}
		&:focus {
			border: none;
			outline: none;
			width: 10rem;
			background: $lite;

			&::placeholder {
				color: $dark;
				opacity: 1;
			}
		}
	}
}

.burger-menu {
    display: grid;

    &__content {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    &__control {
        display: none;
    }
}

.body_burder-opened {
    overflow: hidden;
}

.cover-space__burger {
    opacity: 0;
    position: fixed;
    z-index:  -2;   
    top: -2px;  
    left: -2px;
    right: -2px;
    bottom: -2px;  
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: opacity 0.3s;
}








