@import "../../color";

.header {
    display: flex;
    align-items: baseline;
   
    &.primary {
    color: var(--highlight-color);
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    &::after {
    content: "";
    border-bottom: 2px solid black;
    display: block;
    flex: 1 0 auto;
    margin-left: 10px;
    
    }
}