.footer {
    display: flex;
    align-items: baseline;
    &::after {
        content: "";
        border-bottom: 2px solid black;
        display: block;
        flex: 1 0 auto;
        margin-left: 10px;
    }
}