@import "./variables.scss";
@import "./variables-css.scss";
@import "./partials/mainicons/icons.scss";

.subscribe {
    width: 27%;
    &__title {
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.38em;
        color: $lite;
    }
}
.footer {
    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7rem;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 2.22rem;
    }
    &__link {
        color: $lite;
        text-decoration: none;
        font-size: 0.833rem;
        display: inline-block;
        margin-right: 4.5rem;
        &:hover,
        &:visited,
        &:active {
            color: $lite;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.email {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $opacitycolorSecondary;
    
    .formSubscribe {
        display: flex;
        width: 100%;
        &.invalid:after {
            content: attr(data-error);
            color: $opacitycolorSecondary;
            margin: 2px;
            font-size: 0.8em;
        }
        .email__form {
            width: 100%;
            background: none;
            border: none;
            transition: width 0.3s;
            font: 0.83rem/1 'Open Sans', sans-serif;
            padding: 1.1rem 0.77rem 1.1rem;
            color: $lite;
            
            &::placeholder {
                color: $opacitycolorSecondary;
            }
            &:focus {
                border: none;
                outline: none;
            }
        }
    }
    &__button {
        margin-left: auto;
        padding: 0;
        max-width: 100%;
        border-radius: 0.4rem 0.4rem 0 0;;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        position: absolute;
        margin-bottom: 0 0 0 -0.2rem;
    }
    
}
.menu {
    padding-right: $mainpadding;
    &__title {
        color: $highlite;
        font-weight: 700;
        font-size: 1.1rem;
        margin-bottom: 0.6em;
    }
    &__item {
        margin-bottom: 0.8rem;
    }
    &__link {
        color: $lite;
        text-decoration: none;
        &:hover,
        &:visited,
        &:active {
            color: $lite;
        }
    }
    &__list {
        padding:0;
        margin:0;
    }
}
.social-horisontal {
    display: flex;
    font-size: 1.3rem;
    &__item {
        display: inline-block;
        margin-left: 2rem;
    }
    &__link {
        display: inline-block;
        opacity: 1;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
}
.subscribeMessage {
    color: $lite;
    font-weight: bold;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.2rem;
    display: none;

    &.active {
        display: block;
    }

}