<section class="section-timer">
<div class="content_small">
    <h2 class="main-title__text">Release Date:</h2>
    <div class="timer">
        <div class="timer__block">
            <span id="days">10</span>
            <h4 class="timer__descr">days</h4>
        </div>
        <div class="timer__block">
            <span id="hours">10</span>
            <h4 class="timer__descr">hours</h4>
        </div>
        <div class="timer__block">
            <span id="minutes">10</span>
            <h4 class="timer__descr">minutes</h4>
        </div>
        <div class="timer__block">
            <span id="seconds">10</span>
            <h4 class="timer__descr">seconds</h4>
        </div>
    </div>
</div>
</section>