<div class="modal">
    <div class="modal__dialog">
        <div class="modal__content">
            <div data-close class="modal__close">&times;</div>
            <form id="contactModal" class="callRequest">
                <div class="modal__title">Leave your contact details</div>
                <label class="cont">
                <input name="name" type="text" class="modal__input" placeholder="Name">
                </label>
                <label class="cont">
                <input name="phone" type="phone" class="modal__input" placeholder="Phone Number">
                </label>
                <button class="button form__button" type="submit" id="requestCallBtn">Request a Call</button>
            </form>
        </div>
    </div>
</div>
