<div class="modal">
    <div class="modal__dialog">
        <div class="modal__content">
            <form action="#">
                <div data-close class="modal__close">&times;</div>
                <div class="modal__title">We will contact you soon!</div>
                <input required placeholder="Name" name="name" type="text" class="modal__input">
                <input required placeholder="Phone Number" name="phone" type="phone" class="modal__input">
                <button class="button form__button">Request a Call</button>
            </form>
        </div>
    </div>
</div>