@import "./variables.scss";
@import "./variables-css.scss";
body {
	background: $dark url("/img/cover.jpg") no-repeat center top;
	background-size: 100% auto;
	color: $lite;
}


a {
	color: $lite;
	transition: opacity 0.3s;
	opacity: 1;
    text-decoration: none;
	&:visited {
		color: $highlite;
	}
}
a:hover,
a:active {
	opacity: 0.7;
}
