.icon {
	&__instagram {
		width: 1.3em;
		height: 1.3em;
		background: url("/img/icons/instagram.svg") no-repeat center center;
		background-size: contain;
	}
	&__twitter {
		width: 1.3em;
		height: 1.3em;
		background: url("/img/icons/twitter.svg") no-repeat center center;
		background-size: contain;
	}
	&__facebook {
		width: 1.3em;
		height: 1.3em;
		background: url("/img/icons/facebook.svg") no-repeat center center;
		background-size: contain;
	}	
	&__arrow_downward {
        width: 0.9rem;
        height: 1.4rem;
        background: url("/img/icons/arrow_downward.svg") no-repeat center center;
        background-size: contain;
	}
	&__arrow_rightward {
		width: 1.4rem;
		height: 0.9rem;
		background: url('/img/icons/arrow_rightward.svg') no-repeat center center;
		background-size: contain;
	}
	&__right {
		width: 1.5rem;
		height: 1.5rem;
		background: url('/img/icons/arrow_right.svg') no-repeat center center;
		background-size: contain;
	}
}
