<div class="calculator">
<div class="calculator__display">
    @@include("../displaycalc/_display.html", {
        "text": "0"
    })
</div>
<div class="calculator__actions">
@@include("../forcalculator/_calc.html", {
    "text": "7"
})
@@include("../forcalculator/_calc.html", {
    "text": "8"
})
@@include("../forcalculator/_calc.html", {
    "text": "9"
})
@@include("../forcalculator/_calc.html", {
    "text": "+"
})
@@include("../forcalculator/_calc.html", {
    "text": "4"
})
@@include("../forcalculator/_calc.html", {
    "text": "5"
})
@@include("../forcalculator/_calc.html", {
    "text": "6"
})
@@include("../forcalculator/_calc.html", {
    "text": "-"
})
@@include("../forcalculator/_calc.html", {
    "text": "1"
})
@@include("../forcalculator/_calc.html", {
    "text": "2"
})
@@include("../forcalculator/_calc.html", {
    "text": "3"
})
@@include("../forcalculator/_calc.html", {
    "text": "*"
})
@@include("../forcalculator/_calc.html", {
    "text": "0"
})
@@include("../forcalculator/_calc.html", {
    "text": ","
})
@@include("../forcalculator/_calc.html", {
    "text": "="
})
@@include("../forcalculator/_calc.html", {
    "text": "/"
})
</div>

</div>