@import "./variables.scss";
@import "./variables-css.scss";
@import "./partials/mainicons/icons.scss";
@media screen and (max-width: 1790px) {
    html,
    body {
        font-size: 16px;
    }

    .section-col {
        &:first-child {
            width: 40%;
        }

        &:last-child {
            width: 50%;
        }
    }

    .content {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1550px) {
    html,
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 1380px) {
    .section-col {
        &:first-child {
            width: 43%;
        }

        &:last-child {
            width: 50%;
        }
    }
}

@media screen and (max-width: 1310px) {
    .main-title {
        font-size: 0.9rem;
    }

    .subscribe {
        width: 35%;
    }
}

//ONLY MOBILE-TABLET SETTINGS

@media screen and (max-width: 700px) {
    .burger-menu {
        position: fixed;
        z-index: 999;
        width: 70vw;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: $dark;
        transform: translate3D(calc(70vw + 2px), 0, 0);
        transition: transform 0.3s;

        &__content {
            height: 100vh;
            display: block;
            padding: 1.3rem 0 2rem;
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
        }

        &__control {
            display: block;
            width: 2rem;
            height: 2rem;
            position: absolute;
            left: calc(-4.7rem - 2rem);
            top: 2.1rem;
            background: url('../img/icons/menu.svg') no-repeat center center;
            background-size: contain;
            border: none;
            cursor: pointer;
            transition: opacity 0.3s;
            

            &:hover {
                opacity: 0.7;
            }
        }
    }
    .landingpage {
        transform: translate3D(0, 0, 0);
        transition: transform 0.3s;
    }

    .body_burger-opened {     
        .cover-space__burger {
            pointer-events: auto;
            z-index:  998;
            opacity: 1;
        }

        .burger-menu {
            transform: translate3D(0, 0, 0);
                &__control {
                left: -4rem;
                background-image: url('../img/icons/x.svg');
            }
        }
    }
        
    .main-nav {
        display: block;
        margin-bottom: 1rem;
    
        &__list {
            display: block;
            padding:0;
            margin:0;
        }
    
        &__link {
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            transition: all 0.3s;
            padding: 1rem 1rem;
    
            &:hover{
                background: $lite;
                color: $dark !important;
                opacity: 1;
            }
        }
    }
    .burger-menu__control {
        left: calc(-1.5rem - 2rem);
    }






}


