
@import "./variables.scss";
@import "./variables-css.scss";
@import "./partials/mainicons/icons.scss";

@media screen and (min-width: 1381px) and (max-width: 1790px) {
    main {
        font-size: 16px;      
} 
    .landing-page {
        .content {
        max-width: 1200px;
        .section-col {
            &:first-child {
                width: 40%;
            }
        
            &:last-child {
                width: 50%;
            }
        }} 
}
}

@media screen and (max-width: 1550px) {
    main {
        font-size: 14px;
    }
}

@media screen and (max-width: 1380px) {
    .content {
        .section-col {
            &:first-child {
                width: 43%;
            }
            &:last-child {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 1310px) {
   .section__main {
    .main-title {
        font-size: 0.9rem;
    }
   } 
   .subscribe {
    width: 35%;
}
}

//ONLY MOBILE-TABLET SETTINGS

@media screen and (max-width: 700px) {
    .burger-menu {
        position: fixed;
        z-index: 999;
        width: 70vw;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: $dark;
        transform: translate3D(calc(70vw + 2px), 0, 0);
        transition: transform 0.3s;
        &__content {
            height: 100vh;
            display: block;
            padding: 1.3rem 0 2rem;
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
        }
        &__control {
            display: block;
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 2.1rem;
            background: url('../img/icons/menu.svg') no-repeat center center;
            background-size: contain;
            border: none;
            cursor: pointer;
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .landing-page {
        transform: translate3D(0, 0, 0);
        transition: transform 0.3s;
        .content {
            padding: 0 1.5rem 1.5rem;
            .section {
                margin-bottom: 6rem;
            }
        }
    }
    .body_burger-opened {     
        .logo {
            transform: translate3D(-70vw, 0, 0);
            transition: transform 0.3s;
        }
        .cover-space__burger {
            pointer-events: auto;
            z-index:  998;
            opacity: 1;
        }
        .burger-menu {
            transform: translate3D(0, 0, 0);
                &__control {
                left: -4rem;
                background-image: url('../img/icons/x.svg');
            }
        }
    }
    .main-nav {
        display: block;
        margin-bottom: 1rem;
        &__list {
            display: block;
            padding:0;
            margin:0;
        }
        &__link {
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            transition: all 0.3s;
            padding: 1rem 1rem;
            &:hover{
                background: $lite;
                color: $dark !important;
                opacity: 1;
            }
        }
    }
    .burger-menu__control {
        left: calc(-1.5rem - 2rem);
    }
    .header {
        &__content {
            padding: 0 1.5rem;
        }
    }
    .logo {
        position: absolute;
        transform: translate3D(0, 0, 0);
        transition: transform 0.3s;
        top: 0;
        &__title {
            margin: 0;
        }
        
    }
    .section {
        &__main {
            margin-bottom: 4rem;
            padding: 0 1.5rem;
            .main-title {
                text-align: center;
                margin-bottom: 2em;
        
                &__text {
                    font-size: 3em;
                    line-height: 1.3;
                }
        
                &__summary {
                    display: block;
                    margin-bottom: 1em;
                    &::before {
                        display: none;
                          }
                }              
            }
            .social-networks {
                position: relative;
                display: flex;
                
                top: 0;
                &__title {
                    writing-mode: horizontal-tb;
                    margin: 1rem 0 0 0;
                }
                &__list {
                    display: flex;                
                }
                &__item {
                    padding: 0.55rem;
                }
                
            }
            
        }      
    }
    .section-cols {
        flex-direction: column;
        margin-top: 6rem;
        .section-col {
            &:first-child,
            &:last-child {
                width: 100%;
            }
            &__image {
                order: 1;
                margin-bottom: 3rem;
            }
            &__content {
                order: 2;
                .main-title__summary::before {
                    display: none;
                }
                .main-title_small {
                    font-size: 0.8rem;
                }
            }
            
        }
    }
    .section-border {
        .start {
            text-align: center;
            display: block;
            &__title {
                margin-right: 0;
            }
            &__desc {
                margin-right: 0;
                margin-bottom: 1rem;
            }
            &__content {
                display: block;
            }
            .button {
                width: 100%;
            }
        }
    }
    .footer {
        &__content {
            display: block;
            margin-bottom: 3rem;
        }
        .subscribe {
            width: 100%;
            margin-bottom: 3rem;
        }
        .menu {
            text-align: center;
            padding: 0;
        }
        &__bottom {
            display: block;
            padding: 0;
            text-align: center;
        }
        &__link {
            margin-right: 0;
            margin: 0 1rem;
        }
        &__terms {
            margin-bottom: 1.5rem;
        }
        .social-horisontal {
            justify-content: center;
            &__item {
                margin-left: 0;
                margin: 0 1rem;
            }
        }
}
.gallery {
    padding: 0;
    &__slide {
        padding-bottom: 180%;
    }
    &__content {
        top: 0;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.3);
    }
    .content_small {
        padding: 1.5rem;
    }
}
.gallery-nav {
    display: none;
}
.section-timer {
    .content_small {
        padding: 0;
    }
    .timer {
        &__block {
            width: 3.8rem;
            height: 5.2rem;
            span {
                font-size: 2.2rem;
            }
        }
        &__descr {
            font-size: 0.8rem;
        }
    }
}
.modal {
    top: 72%;    
    &__dialog {
        max-width: 300px;
    }
    &__content {
        padding: 0.8rem 2rem 0 0;
    }
    &__close {
        color: $opacitycolorSecondary;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        border: none;
        cursor: pointer;
    }
    &__title {
        font-size: 1.2rem;
    }
    &__input {
        width: 13rem;
    }
    .form__button {
        padding: 1.4em 2.5em 1.2em 2.5em;
    }
}





}


