@import "./slick/slick.scss";
@import "./slick/slick-theme.scss";
@import "./variables.scss";
@import "./partials/header/_header.scss";
@import "./partials/texticon/_texticon.scss";
@import "./partials/listlink/_listlink.scss";
@import "./partials/imgicon/_imgicon.scss";
@import "./partials/imgicon2/_imgicon2.scss";
body * {
  outline: 1px solid  lightgreen;
}
.bigcont {
  max-width: 1400px;
  margin: 0 auto;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 900px 500px;  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}
.grid-item1 {
  max-width: 900px;  
  margin: 0px 18px 0px 18px;
}
.menuslider { 
  margin: 20px 0px 40px 0px;
}
.menutabs {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  }
.tabs {
  width: 100%;
  background-color: rgb(191, 191, 192);
  padding: 5px 0px 5px 0px;
}
.tab {
  max-width: 100%;
  cursor: pointer;
  background-color: rgb(191, 191, 192);
  display: inline;
  color: white;
  padding: 5px 18px 5px 18px;
  }
.panels {
  width: 100%;
  margin-top: 20px;
  border-bottom: 5px solid var(--color-a);
  }
.panel {
  display: none;
  animation: fadein 0.8s;
  }
.panel-title1 {  
  max-width: 100%;
  display: flex;
  flex-direction: column;  
  }
    .your-class slick-slider slick-initialized {
    max-width: 100%;
    position: relative;
  }
  .slick-next slick-arrow {
    position: absolute;
    bottom: 30px;
  }
  .jurg1 {
  display: flex;
  flex-direction: row;
  background-color: rgb(244, 245, 247);
  }
  .jurgphoto {
  object-fit: fill;
  width: 100%;  
  }
  .descjurg {
  max-width: 100%;
  text-align: left; 
  margin: 18px 18px 0px 18px;
  display: flex;
  flex-direction: column;
 
  .jurgtext1 {
    color: var(--color-a);
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 18px;
  }
  .jurgtext2 {
    font-size: large;
  }
  }
@keyframes fadein {
  from {
  opacity: 0;
  }
  to {
  opacity: 1;
  }
  }
.radio {
  margin: 0px 0px 0px 0px;
 padding: 0px 0px 0px 0px;
  display: none;
  }
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
display: block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
background: #4c4f4f;
color: #fff;
}
@keyframes animate {
0% {
 left: 0;
 transform: translate(0, -50%);
}
25% {
  background-color: green;
  }
50% {
  left: 100%;
  transform: translate(-100%, -50%) rotate(90deg); 
  }  
100% {
  left: 0;
  transform: translate(0, -50%) rotate(360deg);
  }
}
.animation {
height: 10vh;
position: relative;
.item {
  width: 50px;
  height: 50px;
  background-color: tomato;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  animation: animate 2s ease 0s infinite forwards paused;
  }
&:hover .item {
animation-play-state: running;
}
}
.mnews {
  margin-bottom: 6px;
}
.manews {  
  display: flex;  
  column-gap: 20px;
  object-fit: fill;
  margin-bottom: 40px;
}
.mainnews1 {
  width: 25%;
  display: flex;
  flex-direction: column; 
}
.photomain {
  width: 100%;
  padding: 0px;     
 }
 img {  
  width: 100%;  
  }
.descriptionmain {
  max-width: 100%;
  text-align: left;    
}
.descriptionmainIcon {
 max-width: 100%;
}
.gridA2 {
  max-width: 900px;
  display: grid;
  grid-template-columns: 550px 332px;
  margin-bottom: 40px;
}
.lastnewsfeed {
  margin-bottom: 18px;
}
.lastnews {
margin-bottom: 6px;
}

.zlatannews {
  display: flex;
  flex-direction:row; 
  max-width: 100%;
  object-fit: fill;  
}
.zlatanphoto {
  width: 30%;
  margin-right: 10px;
  object-fit: fill;
}
.zlatdesc {
  max-width: 100%;
  font-weight: bold;
}
ul {
    padding-left: 18px;
}
li {
  padding-bottom: 10px;
}
.marca {
  padding-left: 6px;
  text-decoration: none;
  color: rgb(191, 191, 192);

  &:hover {
  color: var(--highlight-color-a);
  text-decoration: underline;        
}
}
.threephoto {  
 margin: 0px 18px 40px 18px;
 max-width: 100%; 
}
.thereephoto3 {
  display: flex;
  flex-direction: column;
  object-fit: fill;
  max-width: 100%;  
}
 .descphoto3 {
  width: 100%;
  text-align: left; 
  font-weight: bold;   
  font-size: 22px;
  margin-bottom: 18px;
}
.grid-item2 {
  max-width: 500px;  
  display: grid;
  grid-template-columns: 350px 150px;
  margin: 18px 18px 0px 0px;
}
.videocolumn {  
  margin-top: 18px;
  max-width: 100%;
  display: flex;
  flex-direction: column;  
}
.videoflex {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.fivevideo {
  object-fit: fill;
  width: 100%;  
}
.descvideo {
width: 100%;
text-align: left; 
font-weight: bold;   
margin-left: 10px;
}
.morevideo {
  text-decoration: none;
  color: var(--highlight-color-a);
  font-weight: bold;
  padding: 10px 0px 10px 0px;
  &:hover {
  color: var(--highlight-color-a);
  text-decoration: underline;        
}
}
.interestcolumn {
padding-top: 60px;
border-top: 5px solid var(--color-b);
border-bottom: 5px solid var(--color-b);
}
.statesint {
  padding-bottom: 8px;
  color: var(--highlight-color-b);
  font-size: var(--large-a);
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  &::after {
  border-color: var(--color-b);
  } 
  &::after {
  content: "";
  border-bottom: 2px solid black;
  display: block;
  flex: 1 0 auto;
}
}
.interestsection {  
max-width: 100%;
display: flex;
flex-direction: column;  
}
.interflex {
display: flex;
flex-direction: row;
margin-bottom: 10px;
}
.interphoto {
object-fit: fill;
width: 80%;  
}
.descinter {
width: 100%;
text-align: left; 
margin-left: 10px;
}
.feed1 {
  width: 114px;
  height: 20px;
  overflow: hidden;
  transform: rotate(-90deg) translateY(320%) translateX(-350%);
}
.feedback {  
  max-width: 100%;  
  background-color: rgb(191, 191, 192);
  color: white;
  font-size:small;
  border-width: 3px;
  border-style: double;
  Border-color: #ffff;
 &:hover {
  position: relative;
  top: 1px;
  left: 1px;
  background-color: #4c4f4f;
  cursor: pointer;
}
}
.footer {
  max-width:1250px;
}
.review {
  margin: 0px 0px 6px 18px;
}
