@import "./partials/header/header.scss";
@import "./variables.scss";
@import "./variables-css.scss";
@import "./partials/mainicons/icons.scss";
@import "./partials/gallery/gallery.scss";
@import "./partials/footer/footer.scss";
@import "./partials/adaptive/adaptiveLayout.scss";
* {
	outline: 1px solid  lightgreen;  
  }
html, body {
	font: 18px/1.7 'Open Sans', sans-serif;
	background: var(--main-color) url("/img/cover.jpg") no-repeat center top;
	background-size: 100% auto;
}
.landingpage {
    overflow: hidden;
}

main {
	background: var(--main-color) url("/img/cover.jpg") no-repeat center top;
	background-size: 100% auto;
}
ul {
	list-style: none;
}

.cover-space {
    padding-bottom: 82%;
	
}

.section {
	margin-bottom: 12rem;

	&__main {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: absolute;
		left: $mainpadding;
		right: $mainpadding;
		top: 14vw;
	}
}

.main-title {
	font-size: 1rem;
	margin-bottom: 6.2em;

	&__summary {
		color: $highliteSecondary;
		text-transform: uppercase;
		letter-spacing: 0.36em;
		display: flex;
		align-items: center;
		margin-bottom: 1.5em;
		font-weight: 700;

		&::before {
			content: '';
			display: block;
			width: 4em;
			height: 2px;
			margin-right: 1.5em;
			background: $highliteSecondary;
		}
	}
	&__text {
		font-size: 5.4em;
		font-weight: 700;
		line-height: 1.1;
		color: $lite;
		
		&_regular {
			display: block;
			font-size: 0.9em;
			font-weight: 400;
		}
	}
}
.social-networks {
	position: absolute;
	left: 0;
	top: 4rem;

	&__title {
		writing-mode: vertical-rl;
		margin: 0 0 1.3rem 0;
		color: $lite;
		
	}
	
	&__item {
		margin-bottom: 1rem;
		
	}

	&__link {
		opacity: 1;
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.7;
		}
	}

	&__list {
		padding: 0 0 1.3rem 0.150rem;
	}
}
.scroll-down  {
    display: flex;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    color: $lite;

    &:hover {
        opacity: 0.7;
    }

    &__icon {
        margin: 0.2em 0 0 0.5em;
    }
}
.content {
    padding: 0 $mainpadding $mainpadding;
    max-width: 1460px;
    margin: 0 auto;
	
    p {
        margin-bottom: 1.3em;
		color: $lite;
    }

    &_small {
        max-width: 934px;
        padding: 0 2.75rem 2.5rem;
        margin: 0 auto;
    }
}
.main-title_small {
    font-size: 1rem;
    margin-bottom: 1.8em;

	.main-title__summary {
		color: $highlite;

		&::before {
			background: $highlite;
		}
		
	}

    .main-title__text {
        font-size: 3.4em;
        line-height: 1.4;
    }
}
.arrow-link {
    text-decoration: none;
    display: flex;
    align-items: center;
	color: $highlite;

	&:visited {
		color: $highlite;
	}

    &__icon {
        margin: 0.2em 0 0 0.4em;
    }

    &_centered {
        justify-content: center;
    }
	
}

.section-cols {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.section-border {
	padding-bottom: 3rem;
	border-bottom: 2px solid $opacitycolorSecondary;
	margin-bottom: 3rem;
}
.section-col {

	&:first-child {
		width: 40%;
	}

	&:last-child {
		width: 44%;
	}

	&__image {
		width: 100%;
	}
}


.start {
    display: flex;
    align-items: center;
    justify-content: space-between;
	

    &__title {
        font-size: 2.66rem;
        font-weight: 700;
        margin-right: 3rem;
		color: $lite;
    }

    &__desc {
        font-size: 1.22rem;
        margin-right: 3rem;
    }

    &__content {
        display: flex;
        align-items: center;
		
    	transition: 0.3s;
		color: $opacitycolor;

    }
}
.button {
    border: none;
    background: $mainbuttons;
    font: 700 0.9rem/1 'Open Sans', sans-serif;
    padding: 1.6em 4.5em 1.4em;
    border-radius: 0.4444em;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: $highlite;
    }
}








