@import "./variables.scss";
@import "./partials/header/header.scss";
@import "./partials/texticon/texticon.scss";
@import "./partials/listlink/listlink.scss";
body * {
  outline: 1px solid  lightgreen;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 868px 332px;  
}
.mnews {
  margin: 0px 18px 0px 18px;
}

.manews {  
  display: flex;  
  column-gap: 20px;
  object-fit: fill;
  margin: 0px 18px 0px 18px;
}
.mainnews1 {
  width: 25%;
  display: flex;
  flex-direction: column;
 
}
.photomain {
  width: 100%;
  padding: 0px;   
   
 }
 img {  
  width: 100%;
  
  }
.descriptionmain {
  max-width: 100%;
  text-align: left; 
   
}
.descriptionmainIcon {
 max-width: 100%;
}
.lastnews {
  margin: 0px 18px 0px 18px;
}