.sprite {
background-image: url('./img/css_sprites.png');
}
.home {
    width: 55px; height: 60px;
    background-position: -10px -10px;
}
.about {
    width: 55px; height: 60px;
    background-position: -85px -10px;
}
.work {
    width: 55px; height: 60px;
    background-position: -160px -10px;
}
.blog {
    width: 55px; height: 60px;
    background-position: -10px -90px;
}
.contact {
    width: 55px; height: 60px;
    background-position: -85px -90px;
}
