$dark: #000;
$lite: #fff;
$highlite: #FBD784;
$highliteSecondary: #FFC178;
$mainbuttons: #FFA343;
$mainpadding: 4.7rem;
$opacitycolor: rgba(255, 255, 255, 0.8);
$opacitycolorSecondary: rgba(255, 255, 255, 0.5);